* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	font-size: medium;
}

@media screen and (max-width: 425px) {
	html {
		font-size: 12px;
	}
}

a {
	color: inherit;
	text-decoration: none;
}
